.toggle-table-row {
	display: none;
}

.mdc-table {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-collapse: collapse;
	border-radius: 4px;
	table-layout: fixed;

	tr {
		background-color: white;
		border-bottom: 1px solid #ddd;

		td,
		th {
			padding: 6px 48px 6px 14px;
			font-size: 0.813em;
			
			word-wrap: break-word;
			text-align: center;
			color: #333;

			&:last-child {
				padding: 16px 16px 16px 18px;
			}
		}

		td {
			font-size: 0.844em;
			font-weight: bold;
			color: dimgrey;

			&:last-child {
				.mdc-icon-button {
					font-size: 18px;
				}

				// Sets the availability table element color
				&.available {
					color: green;

					&::before {
						color: dimgrey;
					}
				}
			}

			.toggle-table-row {
				font-size: 18px;
				transition: all 0.5s ease;

				&.toggled-table-row {
					margin-left: auto;
					margin-right: 0;
					transform: rotate(180deg);
				}
			}
		}
	}
}

@media screen and (min-width: 838px) {
	.toggle-table-row {
		display: block;
		margin: 0 8px 0 auto;
	}

	.mdc-table {
		box-shadow: none;

		thead {
			display: none;
		}

		tr {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: 8px;
			border-radius: 4px;

			td {
				display: flex;
				align-items: center;
				padding: 16px;
				border-right: none !important;
				border-bottom: 1px solid #ddd;
				text-align: right;

				.row-title {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 200px;
				}

				&:not(:first-child) {
					display: none;

					&::before {
						content: attr(data-label);
						margin-right: auto;
						font-weight: bold;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 120px;
					}
				}

				&:first-child {
					padding: 4px 0 4px 12px;
				}

				&:last-child {
					border: none;
				}
			}
		}
	}
}