#add-service-form {
    .custom-scrollbar();
}

.schedule {
    width: 8.9rem;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.schedule:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
}

.available {
    color: white;
    background: #02AAB0; 
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  
    background: linear-gradient(to right, #00CDAC, #02AAB0);
}

.scheduled {
    color: white;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}
.not-available {
    color:white;
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#demos {
    margin-left: 90px;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
}

.demo {
    font-weight: 700;
    font-size: 12px;
    width: 140px;
    margin-left: 10px;
    padding:10px;
    border-radius: 10px;
}