
<div class="title_bar">
	<h4>Estabelecimento</h4>
</div>

<div class="container">
	<div class="cards_container">
	<div class="card gradient-orange">
		<div class="card_content">
		<img
			src="/img/tabs/time-left.svg"
			width="50px"
			height="45"
			class="logo_card"
		/>
		<div>
			<h2 class="mt-0 mb-2">14</h2>
			<h5>Agendamentos para hoje</h5>
		</div>
		</div>
	</div>
	<div class="card ml-10 gradient-green">
		<div class="card_content">
		<img src="/img/tabs/tick.svg" width="50px" height="45" class="logo_card" />
		<div>
			<h2 class="mt-0 mb-2">19</h2>
			<h5>Atendimentos feitos hoje</h5>
		</div>
		</div>
	</div>

	<div class="card gradient-purple">
		<div class="card_content">
		<img
			src="/img/tabs/weekly-calendar.svg"
			width="50px"
			height="45"
			class="logo_card"
		/>
		<div>
			<h2 class="mt-0 mb-2">14</h2>
			<h5>Agendamentos para essa semana</h5>
		</div>
		</div>
	</div>

	<div class="card ml-10 gradient-pink">
		<div class="card_content">
		<img src="/img/tabs/day.svg" width="50px" height="45" class="logo_card" />
		<div>
			<h2 class="mt-0 mb-2">45</h2>
			<h5>Atendimentos feitos essa semana</h5>
		</div>
		</div>
	</div>
	</div>
</div>

</body>
</html>
