<header id="page-header">
	<img src="/img/helpMyTime-logo.svg" width="192" alt="helpMyTime-logo">
	<h2 class="header-headline">Encontre e agende os melhores serviços perto de você</h2>
	<div class="input-group">
		<i class="input-group-icon fas fa-search"></i>
		<input class="input-group-input" type="search" placeholder="Preciso de um coach">
	</div>
</header>
<div class="navigation-menu">
	{{#each categories}}
		<a class="carousel-cell" href="categorias/{{slug}}">{{name}}</a>
	{{else}}
		<script>
			$(".navigation-menu").css("display", "none");
		</script>
	{{/each}}
</div>

<script src="/js/index.js"></script>