<header id="page-header">
	<img src="/img/helpMyTime-logo.svg" id="login_button"  width="192" alt="helpMyTime-logo">
	<h2 class="header-headline">Encontre e agende os melhores serviços perto de você</h2>
	<div class="input-group">
			<i class="input-group-icon fas fa-search"></i>
			<input class="input-group-input" type="search" placeholder="Preciso de um coach">
			<button id="open-login" class="mdc-icon-button">
					<i class="material-icons">account_circle</i>
			</button>
	</div>
</header>
<!-- Categories bar -->
<div class="navigation-menu">
	{{#each categories}}
			<a class="carousel-cell" href="categorias/{{slug}}">{{name}}</a>
	{{else}}
			<script>
					document.querySelectorAll(".navigation-menu").style.display = "none";
					$(".navigation-menu").hide();
			</script>
	{{/each}}
</div>

<!--  Authentication methods -->
<div id="login-container">
	<!--
	██╗      ██████╗  ██████╗ ██╗███╗   ██╗
	██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
	██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
	██║     ██║   ██║██║   ██║██║██║╚██╗██║
	███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
	╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
	-->
	<div id="login-panel" class="panel">
		<div class="panel-header">
				<button class="close-panel-btn mdc-icon-button">
						<i class="fas fa-times"></i>
				</button>
				<h2 class="panel-headline">Entrar</h2>
		</div>
			<div class="panel-body">
				<p class="panel-subtitle">Faça login na sua conta para aproveitar o melhor do HelpMyTime</p>
				<form action="/conta/login" method="POST" id="login-form">
					<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
						<input type="text" name="email" class="mdc-text-field__input">
						<label class="mdc-floating-label">Email</label>
						<div class="mdc-line-ripple"></div>
					</div>
					<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
						<input type="password" name="password" class="mdc-text-field__input">
						<label class="mdc-floating-label">Senha</label>
						<div class="mdc-line-ripple"></div>
					</div>
				</form>
				<div id="login-form-buttons">
					<button id="login-btn" type="submit" form="login-form" name="submit" class="submit-btn mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
						<span class="mdc-button__label">Entrar</span>
					</button>
					<button class="create-account-btn mdc-button" data-mdc-auto-init="MDCRipple">
						<span class="mdc-button__label">Criar uma conta</span>
					</button>
					<button class="reset-password-btn mdc-button" data-mdc-auto-init="MDCRipple">
						<span class="mdc-button__label">Esqueceu sua senha?</span>
					</button>
				</div>
				<div id="alternative-login-container">
					<p id="alternative-login-label">- Ou conecte-se usando -</p>
					<form action="/conta/login/google" style="display: inline;"method="POST">
						<button id="google-login" type="submit" class="mdc-button mdc-button--raised">
							<i class="mdc-button__icon fab fa-google"></i>
							<span class="mdc-button__label">Google</span>
						</button>
					</form>
					<form action="/conta/login/facebook" style="display: inline;"method="POST">
							<button id="fb-login" type="submit" class="mdc-button mdc-button--raised">
								<i class="mdc-button__icon fab fa-facebook"></i>
								<span class="mdc-button__label">Facebook</span>
							</button>
					</form>
				</div>
			</div>
	</div>
	<!--
	██████╗ ███████╗ ██████╗ ██╗███████╗████████╗███████╗██████╗
	██╔══██╗██╔════╝██╔════╝ ██║██╔════╝╚══██╔══╝██╔════╝██╔══██╗
	██████╔╝█████╗  ██║  ███╗██║███████╗   ██║   █████╗  ██████╔╝
	██╔══██╗██╔══╝  ██║   ██║██║╚════██║   ██║   ██╔══╝  ██╔══██╗
	██║  ██║███████╗╚██████╔╝██║███████║   ██║   ███████╗██║  ██║
	╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝╚══════╝   ╚═╝   ╚══════╝╚═╝  ╚═╝
	-->
	<div id="register-panel" class="panel">
		<div class="panel-header">
			<button class="back-btn mdc-icon-button">
				<i class="fas fa-arrow-left"></i>
			</button>
			<h2 class="panel-headline">Criar uma conta</h2>
			<button class="close-panel-btn mdc-icon-button">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="panel-body">
			<p class="panel-subtitle">Preencha o formulário abaixo para criar sua conta do HelpMyTime</p>
			<form action="/conta/cadastro" method="POST" class="register-form">
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="text" name="name" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Nome</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="email" name="email" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Email</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="text" name="city" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Cidade</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="number" max="99999999999" name="phone" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Telefone</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<!--<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="number" name="cpf" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">CPF</label>
					<div class="mdc-line-ripple"></div>
				</div>-->
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="password" minlength=8 name="password" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Senha</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="password" minlength=8 name="repeatpassword" class="mdc-text-field__input" required>
					<label class="mdc-floating-label">Repita a senha</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<p>
					Ao clicar no botão abaixo, você estará concordando com os nossos Termos de Uso e Condições de Serviço
				</p>
				<button type="submit" name="submit" class="register-btn mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" disabled>
					<span class="mdc-button__label">Criar conta</span>
				</button>
			</form>
		</div>
	</div>
	<!--
	██████╗ ███████╗███████╗███████╗████████╗    ██████╗  █████╗ ███████╗███████╗██╗    ██╗ ██████╗ ██████╗ ██████╗
	██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝    ██╔══██╗██╔══██╗██╔════╝██╔════╝██║    ██║██╔═══██╗██╔══██╗██╔══██╗
	██████╔╝█████╗  ███████╗█████╗     ██║       ██████╔╝███████║███████╗███████╗██║ █╗ ██║██║   ██║██████╔╝██║  ██║
	██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║       ██╔═══╝ ██╔══██║╚════██║╚════██║██║███╗██║██║   ██║██╔══██╗██║  ██║
	██║  ██║███████╗███████║███████╗   ██║       ██║     ██║  ██║███████║███████║╚███╔███╔╝╚██████╔╝██║  ██║██████╔╝
	╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝       ╚═╝     ╚═╝  ╚═╝╚══════╝╚══════╝ ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═════╝
	-->
	<div id="reset-password-panel" class="panel">
		<div class="panel-header">
			<button class="back-btn mdc-icon-button">
					<i class="fas fa-arrow-left"></i>
			</button>
			<h2 class="panel-headline">Recuperar senha</h2>
			<button class="close-panel-btn mdc-icon-button">
					<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="panel-body">
			<p class="panel-subtitle">Informe o seu endereço de email abaixo, para que possamos enviar um email com um link para alterar sua senha</p>
			<form id="reset-password-form">
				<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
					<input type="email" class="mdc-text-field__input">
					<label class="mdc-floating-label">Seu email</label>
					<div class="mdc-line-ripple"></div>
				</div>
				<button type="submit" class="confirm-password-reset-btn mdc-button mdc-button--raised" disabled>
					<span class="mdc-button--label">Confirmar</span>
				</button>
			</form>
		</div>
	</div>

</div>

{{> snackbar }}
 
{{> scripts }}

{{> show_snackbar}}