<form action="/conta/login/enter" method="POST">

    <input type="text" name="email" value="falisson.sv@gmail.com"/>
    <input type="password" name="password" value="123456"/>
    <input type="submit" name="enviar" value="Send"/>

</form>
