<form action="/conta/cadastro" method="POST">
    <input type="text" value="Nome" name="name"><br>
    <input type="email" value="falisson.sv@gmail.com" name="email"><br>
    <input type="text" value="city" name="city"><br>
    <input type="number" value="012" name="phone"><br>
    <input type="password" value="password" name="password"><br>
    <select id="select_category" name="category">
        {{#each categories}}
            <option value="{{slug}}">{{name}}</option>
        {{else}}
            <script>
                $("#select_category").css("display", "none");
            </script>
        {{/each}}
    </select>

    <input type="submit" value="CADASTRAR">
</form>