* {box-sizing: border-box}

body {
	margin: 0;
	background-color: #eaeaea;
}

#page-header {
	width: 100%;
	background-image: url("../img/2.jpg"),
		linear-gradient(
			90deg, 
			rgba(0,65,139,1) 0%,
			rgba(58,58,176,1) 62%,
			rgba(8,122,158,1) 100%
		);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 16px 16px 28px 16px;
	text-align: center;
	box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.open-login-panel-fab {
	margin: 16px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(
		90deg, 
		rgba(0,65,139,1) 0%,
		rgba(58,58,176,1) 62%,
		rgba(8,122,158,1) 100%
	);
}

.open-login-panel-fab .mdc-fab__icon {
	width: 48px;
	height: 48px;
}

.header-headline {
	font-size: 22px;
	font-family: "Open Sans";
	color: white;
}

.input-group {
	display: none;
	width: 50%;
	max-width: 320px;
	display: flex;
	background-color: white;
	border-radius: 25px;
	box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.input-group-icon {
	margin: auto 0 auto 16px;
	color: rgba(0, 0, 0, 0.5);
}

.input-group-input {
	font-family: "Open Sans";
	font-size: 16px;
	border: none;
	border-radius: 25px;
	padding: 10px 16px;
	flex-grow: 1;
	outline: none;
}

/* NAVIGATION MENU */
.navigation-menu {
	background-color: white;
	border: 1px solid gainsboro;
	padding: 16px;
	box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.navigation-menu a {
	font-family: "Open Sans";
	color: grey;
	padding: 8px 16px;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	border-right: 1px solid grey;
}

/* Flickity Carousel */
.flickity-button[disabled] {display: none}
.flickity-slider {height: 38px}

@media only screen and (max-width: 610px) {
	.input-group {
		position: relative;
		bottom: -35px;
		margin-top: -17.5px;
		width: 100%;
	}

	#page-header {padding: 16px}
	.navigation-menu, .header-headline {display: none}
}