:root {
	--mdc-theme-primary: #007f99;
}

/* General rules */
* {box-sizing: border-box}
body {font-family: "Open Sans" !important}

/* Login overlay */
#login-container {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
}

/* Panels */
.panel {
	position: absolute;
	flex-direction: column;
	display: none;
	right: 0;
	height: 100%;
	width: 460px;
	max-width: 100%;
	margin-left: auto;
	background-color: white;
	box-shadow: -6px 1px 10px rgba(0, 0, 0, 0.3);
	overflow-x: hidden;
}

/* Panel header */
.panel-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 18px;
}

.panel-headline {margin: 0}
.panel-subtitle {
	margin: 0 16px;
	color: rgba(0, 0, 0, 0.5);
}

.back-btn {
	position: absolute;
	align-self: flex-start;
	font-size: 13.3333px !important;
}

.close-panel-btn {
	position: absolute;
	align-self: flex-end;
	font-size: 13.3333px !important;
}

.panel-body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Login form */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary) !important;
}

#login-form {margin-top: 12px}

#login-form .mdc-text-field {
	border-radius: 0 !important;
	width: 100%;
}

#login-form-buttons {
	width: 100%;
	padding: 18px 12px 12px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#login-form-buttons #login-btn {
	width: 100%;
	font-weight: bold;
	background-image: linear-gradient(
		to left,
		rgba(2,0,100,1) 0%,
		rgba(9,9,121,1) 50%,
		rgba(0,212,255,1) 100%
	);
}

#login-form-buttons .mdc-button {
	flex-grow: 1;
	margin-bottom: 8px;
}

/* Alternative login */
#alternative-login-container {
	width: 100%;
	text-align: center;
}

#alternative-login-label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	font-size: 18px;
	margin-top: 9px;
}

#alternative-login-container .mdc-button {margin: 0 8px}

#alternative-login-container #google-login {background-color: rgb(200, 0, 0)}
#alternative-login-container #fb-login {background-color: navy}

/* Register panel */
#register-panel .register-form {padding: 0 12px 12px}

.register-form .mdc-text-field {
	margin-top: 12px;
	width: 100%;	
}

.register-form input[type="number"] {
	-moz-appearance: textfield;
}

.register-form input::-webkit-outer-spin-button,
.register-form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.register-btn {
	width: 100%;
	margin-bottom: 8px;
}

.register-btn:not([disabled]) {background-image: linear-gradient(-90deg, rgba(2,0,100,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%)}

/* Reset password panel */
#reset-password-form {margin: 16px}
#reset-password-form .mdc-text-field {width: 100%}

#reset-password-form .confirm-password-reset-btn {
	margin: 16px 0;
	width: 100%;
	font-weight: bold;
}

#reset-password-form .confirm-password-reset-btn:not([disabled]) {
	background-image: linear-gradient(
		to left,
		rgba(2,0,100,1) 0%,
		rgba(9,9,121,1) 50%,
		rgba(0,212,255,1) 100%
	);
}