<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HelpMyTime | Página não encontrada</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wendy+One">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gugi">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet/less" href="/css/404.less">
</head>
<body>
	<div class="main-container">
		<div class="headline-container">
			<span>4</span>
			<span>0</span>
			<span>4</span>
		</div>
		<h1 class="subtitle-1">Oops!</h1>
		<p class="subtitle-2">A página que você procura não foi encontrada ou não existe</p>
	</div>
	<img class="hmt-logo" src="/img/helpMyTime-logo.svg" alt="hmt-logo">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
	<script src="/js/404.js"></script>
</body>
</html>