<!-- Service management panel -->
<div class="title-bar">
	<h4 class="title-bar-headline">Seus serviços</h4>	
</div>
<div class="manage-services-panel">
	<div class="services-not-found">
		<img class="not-found-icon" src="/img/search.svg">
		<p>Nenhum serviço encontrado!</p>
		<button class="add-service-btn mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
			<span class="mdc-button__label">Adicionar serviços</span>
		</button>
	</div>
	<!-- Services table -->
	<table class="mdc-table">
		<thead>
			<th>Serviço</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Duração da sessão</th>
			<th>Horário</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<span class="row-title">Serviço 1</span>
					<button class="toggle-table-row mdc-icon-button">
						<i class="fas fa-angle-down"></i>
					</button>
				</td>
				<td>Lorem ipsum dolor sit amet consectetur</td>
				<td>R$6.00</td>
				<td>1 hora</td>
				<td>6:00AM - 12:00AM</td>
			</tr>
			<tr>
				<td>
					<span class="row-title">Serviço 2</span>
					<button class="toggle-table-row mdc-icon-button">
						<i class="fas fa-angle-down"></i>
					</button>
				</td>
				<td>Lorem ipsum dolor sit amet consectetur</td>
				<td>R$9.00</td>
				<td>2 horas</td>
				<td>6:00AM - 12:00AM</td>
			</tr>
			<tr>
				<td>
					<span class="row-title">Serviço 3</span>
					<button class="toggle-table-row mdc-icon-button">
						<i class="fas fa-angle-down"></i>
					</button>
				</td>
				<td>Lorem ipsum dolor sit amet consectetur</td>
				<td>R$16.00</td>
				<td>3 horas</td>
				<td>24/7</td>
			</tr>
		</tbody>
	</table>
</div>