<form action="/conta/novasenha/send" method="POST">
    <input type="hidden" name="email" value="{{email}}">
    <input type="password" name="password" placeholder="Insira a nova senha">
    <input type="password" name="cpassword" placeholder="Confirme a senha">
    <input type="submit" value="Enviar">
</form>



