<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HelpMyTime | Alterar senha</title>
	<!-- Prevent FOUC (flash of unstyled content) -->
	<style>
		.fouc-hidden {
			display: none
		}
	</style>
	<script>
		var html = document.querySelector("html");
		html.classList.add("fouc-hidden");
		window.onload = function () {
			html.classList.remove("fouc-hidden");
		}
	</script>
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet/less" href="/css/change-password.less">
</head>

<body>
	<div class="dashboard-header">
		<h1 class="dashboard-header-title">Alterar senha</h1>
	</div>
	<div class="container-body">
		<form class="change-password-form" action="/conta/novasenha/send" method="post">
			<input type="hidden" name="email" value="{{email}}">
			<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
				<input type="password" name="password" class="mdc-text-field__input" minlength="8" required>
				<label class="mdc-floating-label">Nova senha</label>
				<div class="mdc-line-ripple"></div>
			</div>
			<div class="mdc-text-field-helper-line">
				<div class="mdc-text-field-helper-text">A senha deve ter no mínimo 8 caracteres</div>
			</div>
			<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
				<input type="password" name="c-password" class="mdc-text-field__input" minlength="8" required>
				<label class="mdc-floating-label">Confirmar senha</label>
				<div class="mdc-line-ripple"></div>
			</div>
			<div class="mdc-text-field-helper-line">
				<div class="mdc-text-field-helper-text">Ambas as senhas devem estar iguais</div>
			</div>
			<button disabled="true" type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
				<span class="mdc-button__label">Confirmar</span>
			</button>
		</form>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
	<script src="/js/change-password.js"></script>
</body>

</html>