<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Barbearia do Cleber - HelpMyTime</title>
	<link rel="stylesheet/less" href="/css/establishment.less">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
</head>

<body>
	<div class="establishment-header">
		<div class="header-avatar"></div>
		<h1 class="header-name">Barbearia do Cleber</h1>
		<div class="header-background"></div>
	</div>
	<h3 class="body-name">Barbearia do Cleber</h3>
	<div class="establishment-body">
		<div class="body-sidebar">
			<div class="sidebar-item">
				<i class="fas fa-phone"></i>
				<p>(63) 3223-3200</p>
			</div>
			<div class="sidebar-item">
				<i class="fas fa-map-marker-alt"></i>
				<p>Qd 1706 Sul, Alameda 05</p>
			</div>
			<div class="sidebar-item">
				<i class="fas fa-credit-card"></i>
				<p>Aceita cartão</p>
			</div>
			<div class="sidebar-item">
				<i class="fas fa-snowflake"></i>
				<p>Ambiente climatizado</p>
			</div>
		</div>
		<div id="services-tab" class="tab body-content">
			<h4 class="body-headline">Todos os serviços</h4>
			<div class="card-container">
				<div data-service-id="01" class="mdc-card">
					<div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
						<div class="card-content">
							<h2 class="mdc-typography--headline6">Corte masculino</h2>
							<h3 class="mdc-typography--subtitle2">por Barbearia do Cleber</h3>
							<p class="mdc-typography--body2">Lorem ipsum dolor sit amet consectetur</p>
							<div class="mdc-chip" title="Preço do serviço">
								<i class="fas fa-dollar-sign mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">399,00</div>
							</div>
							<div class="mdc-chip" title="Duração da sessão">
								<i class="fas fa-clock mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">30min</div>
							</div>
						</div>
					</div>
					<div class="mdc-card__actions">
						<div class="mdc-card__action-buttons">
							<button data-tab="schedule" class="open-schedule mdc-button mdc-card__action mdc-card__action--button">
								<span class="mdc-button__label">Ver horários</span>
							</button>
						</div>
						<div class="mdc-card__action-icons">
							<button class="share-btn mdc-icon-button mdc-card__action mdc-card__action--icon" title="Compartilhar">
								<i class="fas fa-share-alt"></i>
							</button>
						</div>
					</div>
				</div>
				<div data-service-id="02" class="mdc-card">
					<div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
						<div class="card-content">
							<h2 class="mdc-typography--headline6">Corte masculino</h2>
							<h3 class="mdc-typography--subtitle2">por Barbearia do Cleber</h3>
							<p class="mdc-typography--body2">Lorem ipsum dolor sit amet consectetur</p>
							<div class="mdc-chip" title="Preço do serviço">
								<i class="fas fa-dollar-sign mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">399,00</div>
							</div>
							<div class="mdc-chip" title="Duração da sessão">
								<i class="fas fa-clock mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">30min</div>
							</div>
						</div>
					</div>
					<div class="mdc-card__actions">
						<div class="mdc-card__action-buttons">
							<button data-tab="schedule" class="open-schedule mdc-button mdc-card__action mdc-card__action--button">
								<span class="mdc-button__label">Ver horários</span>
							</button>
						</div>
						<div class="mdc-card__action-icons">
							<button class="share-btn mdc-icon-button mdc-card__action mdc-card__action--icon" title="Compartilhar">
								<i class="fas fa-share-alt"></i>
							</button>
						</div>
					</div>
				</div>
				<div data-service-id="03" class="mdc-card">
					<div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
						<div class="card-content">
							<h2 class="mdc-typography--headline6">Corte masculino</h2>
							<h3 class="mdc-typography--subtitle2">por Barbearia do Cleber</h3>
							<p class="mdc-typography--body2">Lorem ipsum dolor sit amet consectetur</p>
							<div class="mdc-chip" title="Preço do serviço">
								<i class="fas fa-dollar-sign mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">399,00</div>
							</div>
							<div class="mdc-chip" title="Duração da sessão">
								<i class="fas fa-clock mdc-chip__icon mdc-chip__icon--leading"></i>
								<div class="mdc-chip__text">30min</div>
							</div>
						</div>
					</div>
					<div class="mdc-card__actions">
						<div class="mdc-card__action-buttons">
							<button data-tab="schedule" class="open-schedule mdc-button mdc-card__action mdc-card__action--button">
								<span class="mdc-button__label">Ver horários</span>
							</button>
						</div>
						<div class="mdc-card__action-icons">
							<button class="share-btn mdc-icon-button mdc-card__action mdc-card__action--icon" title="Compartilhar">
								<i class="fas fa-share-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="schedule-tab" class="tab">
			<div class="schedule-header">
				<button data-tab="services" class="mdc-icon-button">
					<i class="fas fa-arrow-left"></i>
				</button>
				<h3 class="schedule-headline">Corte masculino</h3>
			</div>
			<p class="schedule-description">Lorem ipsum dolor sit amet consectetur</p>
			<h3>Horários</h3>
			<div class="schedule-week">
				<div class="week-day">
					<div class="day-name">Seg</div>
					<div class="schedule-hour available-hour">10:00</div>
					<div class="schedule-hour unavailable-hour">10:30</div>
					<div class="schedule-hour available-hour">11:00</div>
					<div class="schedule-hour available-hour">11:30</div>
					<div class="schedule-hour unavailable-hour">14:00</div>
					<div class="schedule-hour available-hour">14:30</div>
				</div>
				<div class="week-day">
					<div class="day-name">Ter</div>
					<div class="schedule-hour available-hour">10:00</div>
					<div class="schedule-hour unavailable-hour">10:30</div>
				</div>
				<div class="week-day">
					<div class="day-name">Qua</div>
					<div class="schedule-hour available-hour">10:00</div>
					<div class="schedule-hour unavailable-hour">10:30</div>
				</div>
				<div class="week-day">
					<div class="day-name">Qui</div>
					<div class="schedule-hour available-hour">10:00</div>
					<div class="schedule-hour unavailable-hour">10:30</div>
				</div>
				<div class="week-day">
					<div class="day-name">Sex</div>
					<div class="schedule-hour available-hour">10:00</div>
					<div class="schedule-hour unavailable-hour">10:30</div>
				</div>
			</div>
		</div>
		<div id="about-tab" class="tab">
			<ul class="mdc-list mdc-list--two-line">
				<li class="mdc-list-item" tabindex="0">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-phone"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Telefone</span>
						<span class="mdc-list-item__secondary-text">(63) 3223-3200</span>
					</span>
				</li>
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-map-marker-alt"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Endereço</span>
						<span class="mdc-list-item__secondary-text">Qd 1706 Sul, Alameda 05</span>
					</span>
				</li>
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-credit-card"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Aceita cartão</span>
						<span class="mdc-list-item__secondary-text">Esse estabelecimento aceita cartão</span>
					</span>
				</li>
				<li class="mdc-list-item">
					<span class="mdc-list-item__graphic" aria-hidden="true">
						<i class="fas fa-snowflake"></i>
					</span>
					<span class="mdc-list-item__text">
						<span class="mdc-list-item__primary-text">Ambiente climatizado</span>
						<span class="mdc-list-item__secondary-text">Esse estabelecimento possui um ambiente climatizado</span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="mdc-bottom-navigation">
		<nav class="mdc-bottom-navigation__list">
			<span data-tab="services" class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary mdc-bottom-navigation__list-item--activated" data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
				<i class="fas fa-wrench mdc-bottom-navigation__list-item__icon"></i>
				<span class="mdc-bottom-navigation__list-item__text">Serviços</span>
			</span>
			<span data-tab="about" class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary" data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
				<i class="fas fa-info-circle mdc-bottom-navigation__list-item__icon"></i>
				<span class="mdc-bottom-navigation__list-item__text">Sobre</span>
			</span>
		</nav>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="/js/establishment.js"></script>
</body>

</html>