<header id="page-header">
	<img src="/img/helpMyTime-logo.svg" width="192" alt="helpMyTime-logo">
	<h2 class="header-headline">Encontre e agende os melhores serviços perto de você</h2>
	<div class="input-group">
		<i class="input-group-icon fas fa-search"></i>
		<input id="search" class="input-group-input" type="search" placeholder="O HelpMyTime agenda pra você!">
	</div>
</header>
<!-- Categories bar -->
<div class="navigation-menu">
	{{#each categories}}
	<a href="s?term={{slug}}">{{name}}</a>
	{{else}}
	<script>
		document.querySelectorAll(".navigation-menu").style.display = "none";
		$(".navigation-menu").hide();
	</script>
	{{/each}}
</div>

<div id="nearby-services-container">
	<h2 class="content-headline">Serviços próximos</h2>
	<h4 id="subtitle" class="content-subtitle">Procurando por serviços na sua região</h4>
	<div role="progressbar" id="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
		<div class="mdc-linear-progress__buffering-dots"></div>
		<div class="mdc-linear-progress__buffer"></div>
		<div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
			<span class="mdc-linear-progress__bar-inner"></span>
		</div>
		<div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
			<span class="mdc-linear-progress__bar-inner"></span>
		</div>
	</div>
	<div id="nearby-services-carousel"></div>
</div>
<div id="features-container-mobile">
	<div class="container-header">
		<button data-tab="user" class="header-tab active">Pra você</button>
		<button data-tab="establishment" class="header-tab">Para o seu negócio</button>
	</div>
	<div id="user-tab" class="container-body">
		<div class="body-counter">1</div>
		<p>Que serviço você precisa hoje? Agora você pode encontrar os melhores serviços perto de você. <br> <br>Seja
			uma mudança no visual ou a manutenção do seu carro, encontraremos as melhores opções para sua necessidade.
		</p>
		<div class="body-counter">2</div>
		<p>Decidiu que vai mudar o visual? Hora de agendar o serviço no seu salão favorito ou descobrir outras opções de
			parceiros que atendam perfeitamente as suas necessidades.</p>
	</div>
	<div id="establishment-tab" class="container-body">
		<div class="body-counter">1</div>
		<p>Como sua empresa se conecta aos clientes? Crie uma página para seu estabelecimento e abra as portas para que
			novos clientes conheçam seu negócio, os faça retornar com um sistema prático e confiável trabalhando ao seu
			favor.</p>
		<div class="body-counter">2</div>
		<p>Tem vaga na sua agenda? Adicione os serviços que seu negócio oferece e indique os horários em que pode
			trabalhar, diga olá para uma agenda digital organizada e com poucos espaços em branco. </p>
	</div>
</div>
<div id="features-container">
	<div class="feature-content">
		<div class="header-panel">Para você</div>
		<div class="body-panel">
			Que serviço você precisa hoje? Agora você pode encontrar os melhores serviços e
			profissionais perto de você. Seja uma mudança no visual ou a manutenção do seu carro, encontraremos as
			melhores opções para sua necessidade.
		</div>
		<div class="body-panel">
			Decidiu que vai mudar o visual? Hora de agendar o serviço no seu salão favorito ou
			descobrir outras opções de parceiros que atendam perfeitamente as suas necessidades.
		</div>
		<div class="body-panel">
			Pronto, viu como é fácil e rápido agendar os serviços que você precisa com o HelpMyTime
		</div>
	</div>
	<div class="feature-content">
		<div class="header-panel">Para o seu negócio</div>
		<div class="body-panel">Como sua empresa se conecta aos clientes? Crie uma página para seu estabelecimento e
			abra as portas para que novos clientes conheçam seu negócio, os faça retornar com um sistema prático e
			confiável trabalhando ao seu favor.</div>
		<div class="body-panel">
			Tem vaga na sua agenda? Adicione os serviços que seu negócio oferece e indique os
			horários em que pode trabalhar, diga olá para uma agenda digital organizada e com poucos espaços em branco.
		</div>
		<div class="body-panel">
			Esse passo a passo é rápido, mas gerenciar seu negócio além de rápido é fácil
		</div>
	</div>
</div>
<div id="referral-container">
	<h1 class="referral-headline">Indique o HelpMyTime para estabelecimentos</h1>
	<h4 class="referral-subtitle">Indique o HelpMyTime para estabelecimentos na sua cidade e ganhe dinheiro</h4>
</div>

<!--  Authentication methods -->
{{> login}}



<div id="footer-container">
	<div class="footer-row">
		<p class="footer-copyright-text">Copyright © 2019 HelpMyTime - Todos os direitos reservados</p>
	</div>
	<div class="footer-row">
		<div class="badge">
			<div class="left">
				<p>Desenvolvido por</p>
			</div>
			<div class="badge-divider-vertical"></div>
			<div class="badge-divider-horizontal"></div>
			<div class="right">
				<img width="128" src="http://yottadev.com.br/yotta-logo.svg">
			</div>
		</div>
	</div>
</div>

<button class="open-login-panel open-login-panel-fab mdc-fab" aria-label="Entrar/Cadastrar" data-mdc-auto-init="MDCRipple">
	<span class="mdc-fab__icon">
		<i class="fas fa-user"></i>
	</span>
</button>