{{!-- Open menu FAB --}}
	<button id="open-menu-fab" class="mdc-fab" aria-label="Abrir menu" data-mdc-auto-init="MDCRipple">
		<span class="mdc-fab__icon">
			<i class="fas fa-bars"></i>
		</span>
	</button>